.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.listMovies{
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: 0 20px ;
  cursor: pointer;
}

.listMovies span{
  margin: 10px 0;
  text-align: center;
}